.hero__img {
    position: absolute;
    top: 0;
    object-fit: none;
    z-index: -1;
}

.hero {
    height: max-content;
    color: #fff;
    margin-block-start: 13.125rem;
}

.hero__title {
    grid-column: span 4;
    grid-row: 1;
    padding-block-end: 3.925625rem;
}

.hero__title--img {
    max-width: 319px;
}

.hero__headline-a, .hero__headline-b {
    text-shadow: 0 4px 20px rgba(0, 0, 0, .75);
}

.hero__headline-a {
    grid-column: span 5;
    grid-row: 2;
    font-size: 4rem;
}

.hero__headline-b {
    grid-column: span 6;
    grid-row: 3;
    font-size: 3rem;
    font-weight:400;
    padding-block-end: 3.625rem;
}

.hero__button {
    grid-column: span 2;
    grid-row: 4;
    background-color: #F47920;
    padding: 1.2rem 2.5rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    border-radius: 5px;
}